product/custom/3rd-party/apk/CamScanner/CamScanner.apk
product/custom/3rd-party/apk/baidu/baidu.apk
product/custom/3rd-party/apk3/Weibo/Weibo.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/app/SnapdragonSVA/SnapdragonSVA.apk
system/system/MzApp/Video/Video.apk
system/system/MzApp/mzbbs/mzbbs.apk
system/system/MzApp/MYVU/MYVU.apk
system/system/MzApp/VoiceAssistant/VoiceAssistant.apk
system/system/MzApp/FlymeMusic/FlymeMusic.apk
system/system/MzApp/Scanner/Scanner.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/FlymeGallery/FlymeGallery.apk
system/system/priv-app/AlphaMe/AlphaMe.apk
system/system/app/SogouInputMz/SogouInputMz.apk
system/system/app/AliveWallPaper/AliveWallPaper.apk
recovery.img
vendor/lib64/libarcsoft_turbo_hdr_raw.so
vendor/lib64/libface-sensetime.so
fs_config_dirs
